# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hydra/

# Data
/data/
*.json
*.jpg
*.png
*.jpeg

# Models
checkpoints/
*.pt
*.pth
*.bin
*.safetensors

# WandB
wandb/

# Git
.git
.gitignore
